<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge Test</title>
    <link rel="stylesheet" href="../css/scss/test.css">
    <script src="../js/jquery-1.9.1.js"></script>
    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap" rel="stylesheet">
    <!--USERID 바꾸기!!-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=USERID&submodules=drawing"></script>
</head>
<body>

<!--============================================================데스크톱 웹사이트 시작=================================================================================-->

<!--데스크톱--> 
    <div class="main_cont">
        <div class="logopage">
            <a href="page.html"><img src="../images/logo.png" alt="로고" width="60" height="60"></a>
            <a href="page.html">zagza</a>
        </div>
        <div class="text_stage">
            <div id="first_txt"><span>zagza</span>에 오신것을 환영합니다.</div>
            <div id="introd">
            <p><span>zagza</span>(자그자)는 <span>자</span>유롭게 <span>그</span>릴 수 있는 <span>자</span>전거코스의 줄임말로<br>
                원하는 자전거 코스를 그리거나 추천하는 자전거 코스를 볼 수 있습니다.</p>
            </div>
            <div class="another_page">
                <a href="main.html"><p>자전거코스 그리러가기</p></a>
            </div> 
        </div>
    </div>
<!--데스크톱 메인 끝-->


<!--============================================================데스크톱 웹 끝=================================================================================-->
        
<!--==============================================================모바일 웹 시작===============================================================================-->
<!--모바일 헤더-->
    <!--flex로 조절해보기-->
<div class="wrapper-page">
    <div class="container-page">
        <header id="mobile-header">
            <div class="mobile-logo-box_page">
                <a href="page.html"><img src="../images/logo.png"></a>
                <a href="page.html"><span class="mobile-logo_page" id="log">zagza</span></a>
            </div>
        </header>
        <main id="mobile-main_page">
            <div class="mobile-body_page">
                <div class="mobile-text-page">
                    <p><span id="pagetitle">
                        <span class="blue_line">자</span>유롭게<br/>
                        <span class="blue_line">그</span>릴수있는<br>
                        <span class="blue_line">자</span>전거코스<br></span><br>
                        <span id="pageintro">여기 zagza(자그자)에서<br>
                            추천하는 자전거 코스를 보거나<br>
                            원하는 자전거 코스를 그려보세요<br></span></p>
                </div>
                <div class="mobile-main-links">
                    <a href="main.html">자전거 코스 그리러가기</a>
                </div>
            </div>
        </main>  
        
    </div>    
</div>
<!--==============================================================모바일 끝===============================================================================-->

</body>
</html>