@charset "UTF-8";
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* 반응형으로 100% */ /*임시로 늘림*/
}

@media (min-width: 1020px) {
  #desktop-header {
    position: sticky;
    display: block;
    background: linear-gradient(to bottom, #8ee3ff, #ffffff);
    border-bottom: 1px solid #F0F9FC; /* 수평선 */
    height: 15vh;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}
@media (min-width: 1400px) {
  #desktop-header {
    position: sticky;
    display: block;
    background: linear-gradient(to bottom, #8ee3ff, #ffffff);
    border-bottom: 1px solid #ffffff; /* 수평선 */
    height: 15vh;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  animation: navbarBottom 1s forwards;
  margin-right: 3vw;
}
.navbar a {
  position: fixed;
  font-family: "Anta", sans-serif;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  font-weight: 600;
  color: #070068;
  margin-left: 7px;
  top: 5px;
  font-size: 50px;
}
.navbar img {
  margin-left: 1vw;
  vertical-align: text-top;
}

.navbar_logo {
  display: none;
}
@media (min-width: 1020px) {
  .navbar_logo {
    display: inline-flex;
    list-style: none;
    flex-grow: 1;
  }
}
@media (min-width: 1400px) {
  .navbar_logo {
    display: inline;
    list-style: none;
    flex-grow: 1;
  }
}

.navbar_menu a {
  display: none;
}
@media (min-width: 1020px) {
  .navbar_menu a {
    display: inline;
    list-style: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    right: 30px;
    border-left: 3px solid #f2f5ff;
    padding: 0px 30px;
    margin: 30px 0px;
  }
}
@media (min-width: 1400px) {
  .navbar_menu a {
    display: inline;
    list-style: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    right: 50px;
    border-left: 3px solid #f2f5ff;
    padding: 0px 40px;
    margin: 30px 0px;
  }
}

.navbar_menu a:hover {
  color: #ff0000;
}

.navbar_menu a:first-child {
  border-left: none;
}

@keyframes navbarBottom {
  0% {
    transform: translateY(-70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.filters {
  display: none;
}
@media (min-width: 1020px) {
  .filters {
    display: flex;
    list-style: none;
  }
}
@media (min-width: 1400px) {
  .filters {
    display: flex;
    list-style: none;
  }
}

.combo-box {
  display: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
@media (min-width: 1020px) {
  .combo-box {
    display: inline;
    width: 100px;
    height: 100hv;
    font-size: 1.2rem;
    padding: 200hv;
    color: #030029;
    border: 2px solid #070068;
    text-align: center;
    margin-right: 3rem;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    font-family: "Noto Sans KR", sans-serif;
  }
}
@media (min-width: 1400px) {
  .combo-box {
    display: inline;
    width: 100px;
    height: 100hv;
    font-size: 1.2rem;
    padding: 200hv;
    color: #030031;
    border: 2px solid #070068;
    text-align: center;
    margin-right: 3rem;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    font-family: "Noto Sans KR", sans-serif;
  }
}

.combo-box:hover {
  background: linear-gradient(to bottom, #dfdfdf 100%, #ffffff);
}

#manual_btn {
  display: none;
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  left: 96.5%;
  top: 2%;
}
@media (min-width: 1020px) {
  #manual_btn {
    display: inline;
  }
}
@media (min-width: 1400px) {
  #manual_btn {
    display: inline;
  }
}

#manual_btn:hover {
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7019607843);
  animation: fadein 0.5s;
}
@media (min-width: 1020px) {
  .modal {
    display: none;
  }
}
@media (min-width: 1400px) {
  .modal {
    display: none;
  }
}

.modal-content {
  display: none;
  background-color: #F0F9FC;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 60%;
  text-align: center;
}
@media (min-width: 1020px) {
  .modal-content {
    display: block;
    background-color: #F0F9FC;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 60%;
  }
}
@media (min-width: 1400px) {
  .modal-content {
    display: block;
    background-color: #F0F9FC;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 60%;
  }
}

.modal_frame {
  display: none;
  justify-content: center;
}
@media (min-width: 1020px) {
  .modal_frame {
    display: flex;
  }
}
@media (min-width: 1400px) {
  .modal_frame {
    display: flex;
  }
}

.close {
  position: absolute;
  right: 35%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 1020px) {
  .close {
    display: block;
  }
}
@media (min-width: 1400px) {
  .close {
    display: block;
  }
}

.main_cont {
  display: none;
  background-image: url(../../images/bikeback.jpg);
  background-position: center center;
  opacity: 0.9;
}
@media (min-width: 1020px) {
  .main_cont {
    display: block;
    position: relative;
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .main_cont {
    display: block;
    position: relative;
    height: 100%;
  }
}

.logopage {
  display: none;
  width: 100%;
  height: 15%;
  animation: navbarBottom 1s forwards;
}
.logopage a {
  position: fixed;
  font-family: "Anta", sans-serif;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  font-weight: 600;
  color: #070068;
  margin-left: 7px;
  top: 5px;
  font-size: 50px;
}
.logopage img {
  margin-left: 1vw;
  vertical-align: text-top;
}
@media (min-width: 1020px) {
  .logopage {
    display: flex;
    position: relative;
  }
}
@media (min-width: 1400px) {
  .logopage {
    display: flex;
    position: relative;
  }
}

.text_stage {
  display: none;
}
@media (min-width: 1020px) {
  .text_stage {
    display: block;
  }
}
@media (min-width: 1400px) {
  .text_stage {
    display: block;
  }
}

#introd {
  display: none;
  text-align: center;
  justify-content: center;
  animation: intropage 1.2s forwards;
  color: #01002b;
  font-size: 25px;
  padding: 20px;
  font-family: "Jua", sans-serif;
  letter-spacing: 2.5px;
  line-height: 35px;
}
#introd span {
  color: #4b2bff;
}
@media (min-width: 1020px) {
  #introd {
    display: flex;
    position: block;
  }
}
@media (min-width: 1400px) {
  #introd {
    display: flex;
    position: block;
  }
}

#first_txt {
  display: none;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  font-weight: 500px;
  font-family: "Jua", sans-serif;
  animation: intropage 1.2s forwards;
}
#first_txt span {
  color: #4b2bff;
}
@media (min-width: 1020px) {
  #first_txt {
    display: flex;
    position: relative;
  }
}
@media (min-width: 1400px) {
  #first_txt {
    display: flex;
    position: relative;
  }
}

@keyframes intropage {
  0% {
    transform: translateY(-70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.another_page {
  display: none;
  float: left;
  animation: intropage 1.2s forwards;
  width: 100%;
  justify-content: center;
  font-family: "Jua", sans-serif;
}
.another_page a {
  display: flex;
  padding: 30px;
  text-decoration: none;
  font-size: 23px;
  text-align: center;
  justify-content: center;
  margin-top: 35px;
  width: 300px;
  border-radius: 50vw;
  color: #000000;
  background-color: #ffffff;
}
@media (min-width: 1020px) {
  .another_page {
    display: flex;
    position: relative;
  }
}
@media (min-width: 1400px) {
  .another_page {
    display: flex;
    position: relative;
  }
}

/*another_page a:hover::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #574fd2;
    color: #ffffff;
    opacity: 0;
    transition: 1s;
}*/
.another_page a:hover {
  background-color: #574fd2;
  color: #ffffff;
  transition: 0.3s;
}

.main_links {
  display: none;
  width: 70%;
  height: 100%;
  overflow-x: hidden;
  float: right;
}
@media (min-width: 1020px) {
  .main_links {
    display: flex;
    position: relative;
  }
}
@media (min-width: 1400px) {
  .main_links {
    display: flex;
    position: relative;
  }
}

.wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}
@media (min-width: 1020px) {
  .wrapper {
    display: none;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    display: none;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (min-width: 1020px) {
  .container {
    display: none;
  }
}
@media (min-width: 1400px) {
  .container {
    display: none;
  }
}

.wrapper-page {
  width: 100%;
  height: 100%;
}
@media (min-width: 1020px) {
  .wrapper-page {
    display: none;
  }
}
@media (min-width: 1400px) {
  .wrapper-page {
    display: none;
  }
}

.container-page {
  width: 100%;
  height: 100%;
}
@media (min-width: 1020px) {
  .container-page {
    display: none;
  }
}
@media (min-width: 1400px) {
  .container-page {
    display: none;
  }
}

#mobile-header {
  display: flex;
  width: 100%;
  height: 45px;
  border-bottom: 2px solid lightgray;
}
@media (min-width: 1020px) {
  #mobile-header {
    display: none;
  }
}
@media (min-width: 1400px) {
  #mobile-header {
    display: none;
  }
}

.mobile-head {
  height: 100%;
  border-bottom: 1px solid #e1e1e1;
  position: flex;
  z-index: 2;
}
@media (min-width: 1020px) {
  .mobile-head {
    display: none;
  }
}
@media (min-width: 1400px) {
  .mobile-head {
    display: none;
  }
}

.slide-open {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
@media (min-width: 1020px) {
  .slide-open {
    display: none;
  }
}
@media (min-width: 1400px) {
  .slide-open {
    display: none;
  }
}

.burgur {
  left: 15px;
  top: 23px;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000000;
}
@media (min-width: 1020px) {
  .burgur {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur {
    display: none;
  }
}

.burgur .top-line {
  width: 20px;
  height: 2px;
  background-color: #000000;
  bottom: -5px;
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}
@media (min-width: 1020px) {
  .burgur .top-line {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur .top-line {
    display: none;
  }
}

.burgur .bot-line {
  width: 20px;
  height: 2px;
  background-color: #000000;
  top: -5px;
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}
@media (min-width: 1020px) {
  .burgur .bot-line {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur .bot-line {
    display: none;
  }
}

.burgur.on {
  width: 0;
}

.burgur.on .bot-line {
  transform: translateY(5px) rotate(135deg);
}

.burgur.on .top-line {
  transform: translateY(-5px) rotate(-135deg);
}

.mobile-logo-box {
  position: relative;
  top: 7px;
  left: 0px;
}

.mobile-logo {
  font-family: "Anta", sans-serif;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 600;
  color: #070068;
  margin-left: 7px;
  font-size: 125%;
}

.mobile-logo-box_page {
  position: relative;
  display: flex;
  left: 5px;
  margin-top: 6px;
  margin-left: 3px;
  animation: navbarBottom 1s forwards;
}
.mobile-logo-box_page img {
  height: 80%;
}

.mobile-logo_page {
  font-family: "Anta", sans-serif;
  text-decoration: none;
  vertical-align: middle;
  line-height: 5px;
  font-weight: 600;
  color: #070068;
  font-size: 2.5vh;
  margin-top: 6px;
  margin-left: 3px;
}

.filter-manual {
  position: absolute;
  top: 10px;
  left: 90%;
  width: 30px;
}

.filter-manual-btn {
  float: right;
  width: 25px;
  height: 25px;
  border: 1.5px solid #000;
  border-radius: 50%;
  text-align: center;
  margin-right: 0;
  background-color: #fff;
}

#mobile-container {
  z-index: 2;
  display: flex;
  position: absolute;
  top: 60%;
  right: 3%;
  transition: top 0.5s;
}

.toggle-button {
  border-radius: 15px;
  border: 1px solid;
  background-color: skyblue;
  padding: 5px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 0px;
  width: 70px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

#mobile-container.open {
  top: 92%;
  transition: top 0.5s ease-out;
}

#mobile-main {
  height: 100%;
}

.mobile-body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#mobile-main_page {
  height: calc(100% - 47px);
}

.mobile-body_page {
  display: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-image: url(../../images/bikeback_page.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  font-family: "Jua", sans-serif;
}

.mobile-body_page::before {
  content: "";
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #2843bd;
}

.mobile-text-page {
  text-align: center;
  font-size: medium;
  color: #ffffff;
  margin-top: 50%;
  animation: introanimation 1.2s forwards;
  text-shadow: 3px 3px rgba(29, 29, 29, 0.2117647059);
}
.mobile-text-page #pagetitle {
  color: #ffffff;
  position: relative;
  font-size: 4vh;
}
.mobile-text-page #pageintro {
  color: #ffffff;
  position: relative;
  font-size: 2vh;
}

@keyframes introanimation {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.mobile-main-links {
  position: relative;
  text-align: center;
  margin-top: 10%;
  text-shadow: 1px 1px rgba(29, 29, 29, 0.2117647059);
  animation: intropage 1.2s forwards;
}
.mobile-main-links a {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px;
}

.filter {
  max-width: 100%;
  width: 500px;
  height: 350px;
  color: black;
  position: absolute;
  left: -100%;
  top: 0;
  right: 0;
  bottom: 0;
  transition: left 0.3s;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-bottom-right-radius: 15px;
}

.filter.on {
  left: 0;
}

.filter-item {
  margin: 5px 0;
  padding: 0 5%;
  height: 25%;
}

.filter-item label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.filter-comboBox {
  min-width: 100%;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border: 1px solid #000;
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.filter-comboBox:hover {
  border-color: #b5e1f0;
  background-color: #fff;
}

/* 부모 요소가 너비를 조절할 수 있도록 설정 */
#mobile-aside {
  border-top: 3px solid lightgray;
  width: 100%;
  height: 50%;
  transition: height 0.5s;
}

#mobile-aside.open {
  transition: height 0.5s;
  height: 0%;
}

.mobile-aside-container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
}

/* 이미지 컨테이너가 부모 요소에 맞춰지도록 설정 */
.mobile-image-wrapper {
  padding-top: 15px;
  padding-left: 10px;
  width: 50%;
  max-width: 600px; /* 원하는 최대 너비로 설정 */
  /* 가운데 정렬 */
}

/* 이미지를 비율 상자에 맞게 조절 */
.mobile-image {
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  width: 48%;
  height: 27%;
}

/* 미디어 쿼리를 사용하여 특정 화면 크기에 맞춰 조정 가능 */
@media (max-width: 600px) {
  .mobile-image-wrapper {
    max-width: 50%;
  }
}
/* 텍스트 정보창 - 반응형 */
.mobile-text-info {
  padding-top: 15px;
  width: 50%;
  margin: 5px;
  font-family: "Anta", sans-serif;
  font-size: 75%;
  text-align: left;
  font-weight: bold;
}

.mobile-text-info p {
  margin: 7px;
}

.content {
  display: none;
}
@media (min-width: 1020px) {
  .content {
    display: flex;
    flex: 1;
  }
}
@media (min-width: 1400px) {
  .content {
    display: flex;
    flex: 1;
  }
}

@media (min-width: 1020px) {
  .toggle-aside {
    /* Layout(No Edit) */
  }
  .toggle-aside input {
    display: none;
  }
  .toggle-aside > input + label {
    left: 0px;
    position: absolute;
  }
  .toggle-aside input[type=checkbox] + label::after {
    position: absolute;
    content: "◁";
    color: #574fd2;
    padding: 5px;
    border-radius: 0px 0 15 0px;
    font-size: 1.2em;
    left: 240px;
    line-height: 1;
    box-shadow: 3px 8px 5px -6px rgba(0, 0, 0, 0.573);
    background-color: #fff;
    width: 30px;
    box-sizing: border-box;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label::after {
    left: 0;
    content: "▷";
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label + .information {
    left: -240px;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside .information {
    height: 100%;
    text-align: center;
    background: linear-gradient(to top, #b7edff, #ffffff 30%);
    font-family: "Anta", sans-serif;
    position: fixed;
    left: 0px;
    width: 240px;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside .information .aside-image {
    border-radius: 20px 20px 5px 5px;
  }
  .toggle-aside .information .lb-wrap {
    margin: 0px auto;
    position: relative;
  }
  .toggle-aside .information .lb-wrap .linkT {
    font-size: 18px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    transition: 0.15s;
  }
  .toggle-aside .information .lb-wrap .linkT:hover {
    color: lightblue;
    transition: 0.15s;
  }
  .toggle-aside .information .text-infor {
    padding: 30px;
    text-align: left;
  }
}
@media (min-width: 1020px) and (max-width: 440px) {
  .toggle-aside .lb-wrap {
    width: 95%;
  }
}
@media (min-width: 1400px) {
  .toggle-aside input {
    display: none;
  }
  .toggle-aside > input + label {
    left: 0px;
    position: absolute;
  }
  .toggle-aside input[type=checkbox] + label::after {
    position: absolute;
    content: "◁";
    color: #574fd2;
    padding: 5px;
    border-radius: 0px 0 15 0px;
    font-size: 1.2em;
    left: 240px;
    line-height: 1;
    box-shadow: 3px 8px 5px -6px rgba(0, 0, 0, 0.573);
    background-color: #fff;
    width: 30px;
    box-sizing: border-box;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label::after {
    left: 0px;
    content: "▷";
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label + .information {
    left: -240px;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside .information {
    text-align: center;
    background: linear-gradient(to top, #b7edff, #ffffff 30%);
    font-family: "Anta", sans-serif;
    position: fixed;
    left: 0px;
    height: 100%;
    width: 240px;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside .information .aside-image {
    border-radius: 20px 20px 5px 5px;
  }
  .toggle-aside .information .lb-wrap {
    margin: 0px auto;
    position: relative;
  }
  .toggle-aside .information .lb-wrap .linkT {
    font-size: 18px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    transition: 0.15s;
  }
  .toggle-aside .information .lb-wrap .linkT:hover {
    color: lightblue;
    transition: 0.15s;
  }
  .toggle-aside .information .text-infor {
    padding: 30px;
    text-align: left;
  }
}

main {
  background-color: #fff;
}
@media (min-width: 1020px) {
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}
@media (min-width: 1400px) {
  main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

#map-container-desktop {
  display: none;
}
@media (min-width: 1020px) {
  #map-container-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 원하는 너비 */
    height: 100%;
  }
}
@media (min-width: 1400px) {
  #map-container-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 원하는 너비 */
    height: 100%;
  }
}

#map-container-mobile {
  width: 100%;
  height: 100%;
}
@media (min-width: 1020px) {
  #map-container-mobile {
    display: none;
  }
}
@media (min-width: 1400px) {
  #map-container-mobile {
    display: none;
  }
}

#map-mobile {
  display: block;
  height: 100%;
  width: 100%;
}

#map-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.output span {
  display: none;
}
@media (min-width: 1020px) {
  .output span {
    display: inline;
    position: relative;
    top: 5px;
    left: 60px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
  }
}
@media (min-width: 1400px) {
  .output span {
    display: inline;
    position: relative;
    top: 5px;
    left: 60px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
  }
}/*# sourceMappingURL=test.css.map */